/*
!.gitignore
!/dotmarkdown/docusaurus-markdown.md
!/dotmarkdown/index.md
!/gitalias/commands-aliases.md
!/gitalias/index.md
!/gitalias/most-used-aliases.md
!/orang/index.md
!/orang/cli/how-to.md
!/roslynator/analyzer-metadata.md
!/roslynator/analyzers-vs-refactorings.md
!/roslynator/cli.md
!/roslynator/how-to-add-new-analyzer.md
!/roslynator/how-to-add-new-refactoring.md
!/roslynator/how-to-fix-all-diagnostics.md
!/roslynator/how-to-generate-net-api-docs.md
!/roslynator/how-to-suppress-diagnostic.md
!/roslynator/how-to-update-documentation.md
!/roslynator/index.md
!/roslynator/refactoring-metadata.md
!/roslynator/testing.md
!/snippetica/index.md
